.container{
  margin: 0 auto;
  width: 500px;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
  text-align: center;
  background-color: beige;
}
.content{
  margin-left: auto;

}
input{
  width: 100%;
}
.error{
  color: red;
}
.btn-submit{
  background-color:aqua;
  width: 200px;
  display: inline-block;

}
label{
  float: left;
}
/* .input-item{
  display: flex;
} */